.container {
    width: 75%;
    margin: 0 auto;
}

.main-Image {
    height: 68vh;
    width: 100%;
}

.main-Image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn {
    display: block;
    margin: 3rem auto;
}
